.alter {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #eee;
}

.alter .alter-btn {
    padding: 2rem 6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.alter .alter-btn > span {
    font-size: 1.7rem;
}